* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.proimg {
  height: 100px;
  width: 200px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px 0px #aeaeae;
  padding: 10px;
  margin: 10px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 5px 0px #aeaeae;
}
.navleft {
  padding: 10px;
}
.navright {
  display: flex;
  padding: 10px;
}
.li {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  letter-spacing: 2px;
}
.orders{
  display: grid;
  grid-template-columns: 1fr; 
  place-items: center;
}

.menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 20px;
}
.view {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.pro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  height: 40px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #114232;
}
.divbtn {
  display: flex;
}
.img{
  height: 100px;
  width: 100px;
}
.order{
  display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 box-shadow: 0px 5px 5px 0px #aeaeae;
 padding: 10px;
 margin: 10px;
}
.button {
  border: none;
  padding: 10px;
  margin: 10px;
  background: #114232;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 4px;
}
.loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.gp {
  padding: 10px;
  margin: 10px;
}
.update {
  padding: 10px;
  margin: 10px;
  background-color: #114232;
  border: none;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 2px;
}
.delete {
  padding: 10px;
  margin: 10px;
  background-color: #ff204e;
  border: none;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 2px;
}
.dropbtn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
@media (max-width: 991px) {
  .navbar {
    padding: 10px;
  }
  .navright {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  .menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 20px;
  }
  .active {
    display: none;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
